*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

*.so

*.class

*.aar

tess-two/build/outputs/aar/tess-two-release.aar

*.aar

*.jar

*.aar

tess-two/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
